
<div class="lead well">

<h4> Hi! I'm Thao.</h4>
<p>    Feel free to ask me anything! </p>
</div>


<!-- Question 1-->
<div class="container">
    <% @questions.each do |q| %>
    
    <div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="<%= q.gravatar %>" height="60" width="60" >
    </a>
  </div>
        
  <div class="media-body">
      <h4 class="media-heading"><%= q.email %> asked: </h4>
      <%= time_ago_in_words q.created_at %> ago <BR>
      <%= q.body %>
     
      <div>
          <a href="<%= question_path(q) %>" class="btn btn-success btn-xs"> View Answers</a>
      </div>
      

</div>
    </div>


    <% end %>